coverage==6.3.2
Flask==2.0.3
Flask-WTF==1.0.0
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
pylint==2.12.2
pytest==7.0.1
six==1.16.0
Sphinx==4.4.0
sphinx-autoapi==1.8.4
sphinx-rtd-theme==1.0.0
uWSGI==2.0.20
Werkzeug==2.0.3
WTForms==3.0.1
