coverage==6.1.2
Flask==2.0.2
Flask-WTF==1.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pylint==2.11.1
pytest==6.2.5
six==1.16.0
Sphinx==3.5.4
sphinx-autoapi==1.8.1
sphinx-rtd-theme==0.5.2
uWSGI==2.0.20
Werkzeug==2.0.2
WTForms==3.0.0
