{% extends 'layout.html' %}
{% block main_content %}

<div class="container-fluid">
    <h1 class="row text-center p-4">
      About
    </h1>

    <h2 class="row text-center p-2">
        osm2pgsql-tuner version: {{ g.tuner_version }}
    </h2>


    <div class="row text-center p-2">

        <p class="col-md-8">
            This project is open source and available on
            <a href="https://github.com/rustprooflabs/osm2pgsql-tuner">GitHub</a>.
            Submit bugs, questions, or ideas for improvement
            <a href="https://github.com/rustprooflabs/osm2pgsql-tuner/issues">
            here
            </a>.
        </p>
    </div>




    <div class="row text-center p-2">

        <p class="col-md-8">
            The recommendations made by this site are targeted for osm2pgsql v1.5.0 and newer.
            Focused on the Flex output without stage 2 processing.  Stage 2 processing
            can have less predictable RAM consumption
            per
            <a href="https://github.com/openstreetmap/osm2pgsql/discussions/1536">
            this discussion
            </a>
            on GitHub.
        </p>

    </div>

</div>

{% endblock main_content %}