{% extends 'layout.html' %}
{% block main_content %}

<div class="container-fluid">

    <h2 class="row text-center p-4">
        Find the right osm2pgsql command
    </h2>


    <form action="" method="post" name="osm2pgsql_tuner_input">
        {{ form.hidden_tag() }}

    <div class="form-row text-center">

        <div class="form-group p-1">
            {% if form.system_ram_gb.errors%}
                <ul>
                {% for error in form.system_ram_gb.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <a href="#" data-toggle="popover"
                title="How much RAM available?" data-content="Enter the total amount of RAM (in GB) available on the server running osm2pgsql.
                **NOTE**
                If other processes are running on this server and consuming RAM,
                feel free to lower this value by the amount other applications are using.">
                {{ form.system_ram_gb.label }}
            </a>

            <br />
            {{ form.system_ram_gb() }}

        </div>

        <div class="form-group p-1">
            {% if form.osm_pbf_gb.errors%}
                <ul>
                {% for error in form.osm_pbf_gb.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {{ form.osm_pbf_gb.label }}
            <br />
            {{ form.osm_pbf_gb() }}
        </div>
    </div>
    <div class="form-row text-center">

        <div class="form-group  p-2">
            {% if form.append.errors%}
                <ul>
                {% for error in form.append.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <a href="#" data-toggle="popover"
                title="Use append?" data-content="To use osm2pgsql's append mode requires using --slim without --drop.">
                {{ form.append.label }}
            </a>

            <br />
            {{ form.append() }}
        </div>

        <div class="form-group  p-2">
            {% if form.ssd.errors%}
                <ul>
                {% for error in form.ssd.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <a href="#" data-toggle="popover"
                title="Fast SSD storage assumed" data-content="This tool does not provide recommendations for non-SSD storage.  I/O speed is important for all but the smallest imports.  If you are using slow spinning HDDs for this, it should still work but will not be optimized for that use case.">
                {{ form.ssd.label }}
            </a>

            <br />
            {{ form.ssd() }}
        </div>
    </div>

    <div class="form-row text-center">

        <div class="form-group col-12">
            <input class="btn btn-success navbar-btn" type="submit" value="Get Recommendation">
        </div>
    </div>
    
    </form>
</div>

<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>

{% endblock main_content %}