<!DOCTYPE html>

<html lang="en">
    <head>
        {% include '_layout_header.html' %}
    </head>


    <body>
        <div class="page">
            {% block body %}
                <div class="header'">
                    {% include '_page_header.html' %}
                </div>

                <div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                       {% if messages %}
                          {% for category, message in messages %}
                              <div class="row alert alert-{{ category }} text-center">
                                 {{ message }}
                             </div>
                          {% endfor %}
                       {% endif %}
                    {% endwith %}

                </div>

                <div class="main_content">
                    {% block main_content %}
                        Main content will go here...
                    {% endblock main_content %}
                </div>

                <div class="footer">
                    {% include '_footer.html' %}
                </div>
            {% endblock body %}
        </div>
    
    </body>

</html>