{% extends 'layout.html' %}
{% block main_content %}

<div class="container-fluid">
    <h1 class="row text-center p-4">
      Osm2pgsql Recommendation
    </h1>

    <p class="row text-center">
        Server should be able to allocate up to
        {{ "%.1f"|format(rec_data.osm2pgsql_cache_max) }} GB RAM to osm2pgsql.
    </p>

    <p class="row text-center">
        Running in-memory requires {{ rec_data.osm2pgsql_noslim_cache }} GB RAM.
    </p>

    <div class="row p-3">
        <div class="col-md-8">
            <div class="row">
            Suggested command:
            </div>

            <code class="row">{{ rec_data.cmd | safe }}</code>
        </div>
    </div>

    <p class="row text-center">
        {% if rec_data.osm2pgsql_noslim %}
            Not using&nbsp;<code>--slim</code>, expect {{ rec_data.osm2pgsql_noslim_cache }} GB used by osm2pgsql.
        {% endif %}
    </p>
</div>

{% endblock main_content %}